body{
    background-color: black;
    color: white;
    text-align: center;
<<<<<<< HEAD
    /* margin-top: 20px; */
}
=======
}


/* #product-list{
    background-color: pink;
} */
>>>>>>> dc5ef41d42cfbcd6e092050eaebed8fb587032a7
